@media screen and (max-width: 800px) {
  .header-logo {
    width: 100%;
    margin-top: 15px;
  }

  .column-container {
    display: flex;
    margin: 12px;
    align-items: center;
  }

  .row-container {
    display: flex;
    flex-direction: column;
  }

  .left-align-flex {
    align-items: center;
  }

  .secondary-background-color {
    background-color: #665eff;
  }

  .font-size-small {
    font-size: 16px;
  }

  .font-size-medium {
    font-size: 21px;
  }

  .none-display-mobile {
    display: none !important;
  }

  .grey-combobox {
    width: 277px;
    height: 40px;
  }

  .large-button {
    width: 210px;
    padding: 12px 130px 11px 80px;
  }

  .medium-button {
    width: 143px;
    height: 35px;
    padding: 8px 36px 11px 39px;
  }

  .large-padding {
    padding: 26px 12px 0px;
  }

  .banner-small-background {
    margin: 50px 0 0 0;
    height: 193px;
    padding: 10px 20px;
  }

  .banner-medium-background {
    margin: 0px;
    height: 340px;
    padding: 10px 20px;
  }

  .banner-large-background {
    height: 800px;
    padding: 10px 20px;
    margin: 0px;
  }

  .footer-background {
    height: 240px;
  }

  h4 {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  .column-container {
    text-align: center;
  }

  .third-width {
    width: 100%;
  }

  .forth-width {
    width: 50%;
  }

  .margin-fix-button {
    margin: 5px 0px 29px;
  }
}
@media screen and (min-width: 801px) {
  .none-display-desktop {
    display: none !important;
  }

  .header-background {
    height: 533px;
  }

  .header-logo {
    width: 30%;
    margin-top: 15px;
  }

  .row-container {
    flex-direction: row;
  }

  .column-container {
    margin: 24px;
    display: flex;
  }

  .row-container {
    display: flex;
  }

  .grey-combobox {
    width: 700px;
    height: 42px;
  }

  .large-button {
    width: 310px;
    padding: 12px 120px 11px 115px;
  }

  .medium-button {
    width: 206px;
    height: 42px;
    padding: 12px 54px 11px 52px;
  }

  .secondary-background-color {
    background-color: #5853bc;
  }

  .font-size-small {
    font-size: 24px;
  }

  .font-size-medium {
    font-size: 24px;
  }

  .left-align-flex {
    align-items: flex-start;
    padding: 0px 70px 0px 0px;
  }

  .large-padding {
    padding: 26px 110px 0px;
  }

  .banner-small-background {
    margin: 50px 0 0 0;
    height: 335px;
    padding: 10px 20px;
  }

  .banner-medium-background {
    height: 350px;
    padding: 53px 263px;
    margin: 50px 0 0 0;
  }

  .banner-large-background {
    margin: 50px 0 0px;
    height: 450px;
    padding: 28px 208px;
  }

  .footer-background {
    height: 234px;
  }

  h6 {
    font-size: 16px;
  }

  h5 {
    font-size: 24px;
  }

  h4 {
    font-size: 32px;
  }

  h3 {
    font-size: 42px;
  }

  h2 {
    font-size: 48px;
  }

  h1 {
    font-size: 60px;
  }

  .third-width {
    width: 40%;
  }

  .forth-width {
    width: 28%;
  }

  .margin-fix-button {
    margin: 30px 0 5px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.column-container {
  flex-direction: column;
  justify-content: center;
}

.row-container {
  justify-content: center;
  align-items: center;
}

.center-align-flex {
  align-items: center;
}

.header-background {
  margin: 17px 0;
  background-image: linear-gradient(106deg, #11afaf 0%, #5853bc 104%);
  padding: 50px 22px;
}

.footer-background {
  background-image: linear-gradient(106deg, #11afaf 0%, #5853bc 104%);
  padding: 50px 0;
}

.banner-small-background, .banner-medium-background, .banner-large-background {
  background-color: #f0f0f0;
}

.margin-title {
  margin: 60px 0 0px;
}

.margin-subtitle {
  margin: 0px 0px;
}

.margin-button {
  margin: 30px 0px;
}

.margin-box {
  margin: 15px 15px;
}

.large-padding .secondary-font b {
  font-weight: 900;
}

.small-padding {
  padding: 26px 0px 26px;
}

.primary-font {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.secondary-font {
  font-family: Nunito;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
}
.secondary-font b {
  font-weight: 600;
}
.secondary-font .third-color b {
  font-weight: 600;
}

p {
  font-size: 16px;
}

.white-color {
  color: #ffffff;
}

.primary-color {
  color: #fcae00;
}

.primary-background-color {
  background-color: #fcae00;
}

.secondary-color {
  color: #5853bc;
}

.third-color {
  color: #11afaf;
}

.third-background-color {
  background-color: #11afaf;
}

.body-color {
  color: #707070;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
  justify-content: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.font-size-large {
  font-size: 34px;
}

.large-button {
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.medium-button {
  margin: 44px 0 0;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.grey-combobox {
  margin: 2px 0px 20px 0px;
  padding: 11px 32px 9px 40px;
  border-radius: 50px;
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
  -webkit-appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd0;
  background-position-x: calc( 100% - 15px );
}
.grey-combobox select {
  padding: 0px 20px;
}

.white-box {
  height: 270px;
  margin: 0px 0px 10px;
  padding: 35px 59px 35px 60px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #665eff;
  background-color: #ffffff;
  text-align: center;
}

.grey-box {
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
}
.grey-box h5 {
  font-size: 20px;
}

.round-button {
  width: 60px;
  height: 60px;
  margin: 0 59px 42px;
  padding: 6px 5px;
  border: solid 1px #707070;
  border-radius: 40px;
}

.width-cap {
  width: 300px;
}

.logo-container {
  width: 133px;
  height: 133px;
  margin: 0 58px 21px 55px;
  object-fit: contain;
  border: solid 1px #d2d2d2;
  border-radius: 65px;
}

.brand-container {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
