<header class="container-fluid header-background ">
  <section class="row d-flex justify-content-between">
    <div class="col-1 pt-2">
      <img src="<%= image_path('logo-blanco.svg') %>" class="img-fluid">
    </div>
    <div class="col-2 d-flex pt-1">
      <img src="<%= image_path('pedidos.svg') %>" class="img-fluid">
      <h6 class="text-white m-2">Mis compras</h6>
    </div>
  </section>
</header>
