<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="stylesheet/style.css" rel="stylesheet">

    <title>ex ruby on sinatra</title>
  </head>
  <body>
    <main>
      <section class="container-fluid bg-primary vh-100">
        <section class="row d-flex justify-content-center">
          <section class="col-9 text-white">
            <h1>Organize your wishlist</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laudantium modi harum laborum! Autem deserunt quam provident tempora alias error? Maxime debitis officiis delectus voluptas quo quis quod numquam explicabo.</p>
            <form id="formorg" action='/organize' method="POST">
              <label for="username">username:</label><br>
              <input type="text" id="name" name="name"><br>
              <input type="submit" id="search" value="search">
            </form>
            <table class="table text-white">
              <thead>
                <tr>
                  <th scope="col" class="table-success">Wishlist</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Completed?</th>
                </tr>
              </thead>
              <tbody>
                <% @wishlist_for_user.each do |a| %>
                  <tr>
                    <td><%= a.name %></td>
                    <td><%= a.cost %></td>
                    <td><input type="checkbox" name="done1" value="done1" <%= a.checked ? 'checked="checked"' : "" %> >
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <section class="row d-flex justify-content-end">
              <section class="col-2 text-white">
                <a id="gobackbtn" href="/" type="button" class="btn btn-outline-secondary bg-white">GO BACK</a>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <script src="javascript/scripts.js"></script>
  </body>
</html>
